<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <!--    表格显示代码-->
    <style>
        table{
            border-left:1px solid #000000;border-top:1px solid #000000;
            width: 100%;
            word-wrap:break-word; word-break:break-all;
        }
        table th{
            text-align:center;
        }
        table th,td{
            border-right:1px solid #000000;border-bottom:1px solid #000000;
        }


    </style>

    <!--    显示数学公式-->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
        }
    });



    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
            type="text/javascript"></script>


    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.4.1.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1LC3HC05B8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1LC3HC05B8');
    </script>

<!--    百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?f4ca4497f01646c9d3ccffd89fbbbed3";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
